*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin:auto;
}
.header-top .container{
    display: flex;
    justify-content: space-between;
}
.header-top{
background-color: #c39b73;
padding: 15px;
}
.header-top .container select{
    background-color: #c39b73;
    border-color: #c39b73;
    color: white;
}
.header-top .container select:hover{
color: #252525;
cursor: pointer;
}
.header-top .container .right i{
    padding-right: 10px;
}
.header-top .container .right{
    color: white;
}

.header-bottom{
background-color: #252525;
padding: 20px;
}

.all{
width: 100%;
    display: flex;
    justify-content: space-between;
}
.all .logo{
    cursor: pointer;
}
.all .search{
    width: 50%;
}
.all .search form{
display: flex;
}
.all .search form .textpart{
width: 90%;
}
.all .search form .textpart input{
    width: 100%;
    padding: 8px 0px 8px 10px;
    margin-top: 10px;
    background-color: #c39b73;
    border: 5px;
    border-color:#252525;
}
.magnifier {
  padding: 9.7px 0 0 0;
}
.magnifier button i{
padding: 9px;
color: white;
background-color: #252525;
cursor: pointer;
}
button{
    border-color: #252525;
}
.icons1{
padding-top: 20px;
}
.icons1 a{
    padding-left: 30px;
    color: white;

}

#section1{
    position:sticky;
top: 0;
background-color: white;
border: 2px;  

}
#section1 .menu{
    display: flex;
    justify-content:center;
}
.menu a{
    padding: 15px 30px;
    font-size: 100%;
    color: #252525;
}
.menu :hover{
    color: #c39b73;
}
#section2{
    background-image: url(https://prestashop.mahardhi.com/MT06/coffee/modules/mt_homeslider/images/banner-1.jpg);
  
    background-position: center;
    background-repeat: no-repeat;
}
.firsth1{
padding: 150px 0px 50px 0px ;
color: white;
height:max-content;
font-weight: lighter;
font-size: 500%;
background-size: cover;
}
.firstp{
font-size: 250%;
font-weight: 200;
color:white;
padding-bottom: 50px;
}
.likebutton {
    color: white;
    font-size: 100%;
    border: 3px;
    background-color: #c39b73;
    padding: 20px 40px 20px 30px ;
}
.likebutton:hover{
    background-color: #252525;
}
.div{
    height: 40%;
    padding: 50px 0px 50px 0px;
}
.all3{
    display: flex;
    justify-content: space-between;
}
.shipping{
    margin: 50px 0px 40px 0px;
    width: 30%;
    border: 1px;
    border-radius: 50px;
    padding: 10px 60px 10px 60px;
    background-color:#252525;
    color: white;
}
.shipping h3{
    font-size: medium;
    font-weight: 100%;
    text-align: center;
}
.shipping p{text-align: center;
    padding-top: 14px;
    font-size: small;
    font-weight: 50%;
}
.shipping i{
    color: #c39b73;
   font-size: 200%;
   padding:10px 8px 0px 0px ;
}
.shipping i:hover{
    color: #252525;
    background-color: #c39b73;
}
.shipping:hover{
    background-color: #c39b73;
}
.our-products h1{
text-align: center;
margin-top: 20px;
cursor: pointer;
}

.our-products ul{
    display: flex;
    justify-content: center;
    background-image: url(https://prestashop.mahardhi.com/MT06/coffee/themes/coffee/assets/img/35c60c0e6c96fb05dbc983533a08d56d.png);
background-repeat: no-repeat;
background-position: center;
}
.our-products li{
    margin-top: 60px;
    padding: 10px 10px 40px;
  background-color:white   ;
  font-size: 140%;
  cursor: pointer;
}
.our-products li:hover{
    color: #c39b73;
}

.twopics h2{
    
   margin: -15px 0px 10px;
   padding: 20px 0 10px 0;
   background-color: #c39b73;
   color: white;
   text-align: center;

}
.twopics h2:hover{
    background-color: #252525;
}
.twopics img{
    transition: 1s;
}
.twopics img:hover{
        transform:scale(0.9);
        z-index: 2;
       
}
.container2{
    display: flex;
    justify-content: center;

} 
.twopics{
    padding-left: 10px;
}
.abc{
    text-align: center;
   margin-top: -190px;
   padding: 30px;
   color: white;
}

.likebutton2{
    color: white;
    font-size: 100%;
    border: 3px;
    background-color: #c39b73;
   margin: 70px 0px 10px 100px ;
    padding: 20px 40px 20px 30px ;
   
}
.likebutton2:hover{
    background-color: #252525;
}
